{{!< default}}

<div id="content-main">

  <article class="{{post_class}}">

    {{#post}}

    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
    <span class="post-meta">
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM, YYYY"}}</time>
      {{#if tags}} | tags: {{tags}}{{/if}}</span>

    <br>

    <section class="post-content">
      {{content}}
    </section>

    <footer class="post-footer">

      <section class="share">
        <a
          class="icon-twitter"
          href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <span class="hidden">Twitter</span>
        </a>
      </section>

    </footer>

    {{/post}}

  </article>

</div>
